html,
body {
	margin: 0;
	font-size: 24px;
	line-height: 1.6;

	background-color: #111;
	color: white;
	font-family: "Ortica-Light";
}

header {
	position: relative;
	display: block;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

.cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	margin: 0;
	z-index: 50;
}

header .title {
	position: relative;
	z-index: 100;
	border: none;
	padding: none;
	padding-bottom: 100px;

	margin: 16px auto;

	display: flex;
	flex-direction: column;
}

header .title,
header .title h1 {
	font-size: 128px;
	line-height: 0.8;
	margin: 0;
	border: none;
}

header .eng {
	font-size: 2rem;
	margin: 0;
	text-align: center;
	font-style: italic;
}

header .lang-switch {
	position: fixed;
	bottom: 32px;
	right: 32px;
	color: currentColor;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.75rem;
	cursor: pointer;
	z-index: 1000;
	background-color: #111;
	padding: 4px 8px;
	border-radius: 50%;
}

header .lang-switch:hover {
	background-color: #222;
}

section,
dl {
	display: block;
	margin: 64px auto;
	max-width: 64ch;
	padding: 0 16px;
}

h1,
h2,
h3 {
	font-family: "Autopia-Bold-Italic";
	border-bottom: 1px solid currentColor;
	padding-bottom: 0.5rem;
	font-size: 36px;
}

p + p {
	margin-top: 32px;
}

figure {
	margin: 48px auto;
	max-width: max(60%, 64ch);
}

img,
video {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

figcaption {
	text-align: center;
	font-size: 18px;
	opacity: 0.5;
	padding: 0;
}

dl {
	border: 1px solid currentColor;
	padding: 0;
}

dl > h3 {
	border: none;
	padding: 16px;
	background-color: white;
	color: #111;
	margin: 0;
	margin-bottom: 16px;
}

dt {
	margin-inline: 16px;
	font-family: "Autopia-Bold-Italic";
}

dd {
	margin-inline: 16px;
	margin-bottom: 32px;
}

hr {
	margin: 32px 0;
}

@media (max-width: 991.98px) {
	header {
		display: block;
	}

	.cover {
		object-fit: cover;
	}

	header .title {
		margin-top: 32px;
		font-size: 96px;
		padding: 0;
	}

	header .eng {
		text-align: left;
		padding: 0 32px;
	}

	figure {
		margin: 48px auto;
		padding: 0;
	}

	figcaption {
		font-size: 18px;
		margin-top: 0;
		/* padding: 0 16px; */
	}
}

@media (max-width: 767.98px) {
	html,
	body {
		font-size: 24px;
	}

	main {
		margin: 0 8px;
	}

	main * + * {
		margin-top: 24px;
	}

	dt {
		margin-top: 32px;
	}

	figcaption {
		padding: 0 8px;
	}
}
