/*Autopia-Bold-Italic*/
@font-face {
	font-family: "Autopia-Bold-Italic";
	src: url("Autopia-Bold-Italic/Autopia-Bold-Italic.eot"); /* IE 9 Compatibility Mode */
	src: url("Autopia-Bold-Italic/Autopia-Bold-Italic.eot?#iefix") format("embedded-opentype"),
		/* IE < 9 */ url("Autopia-Bold-Italic/Autopia-Bold-Italic.woff") format("woff"),
		/* Firefox >= 3.6, any other modern browser */
			url("Autopia-Bold-Italic/Autopia-Bold-Italic.ttf") format("truetype"),
		/* Safari, Android, iOS */
			url("Autopia-Bold-Italic/Autopia-Bold-Italic.svg#Autopia-Bold-Italic") format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: "Ortica-Light";
	src: url("Ortica-Light.woff") format("woff"), url("Ortica-Light.woff2") format("woff2");
	font-weight: normal;
}
